<nav>

<ul class="pagination">
  <li (click)="currentPage = (currentPage - 1) >= 0 ? currentPage - 1 : 0" [ngClass]="{disabled : currentPage == 0}" class="page-item">
    <a class="page-link"> Prev </a>
  </li>

  <ng-container *ngIf="false">
    <li (click)="currentPage = i;" [ngClass]="{active : currentPage === i}" class="page-item" *ngFor="let image of images; let i = index;">
      <a class="page-link">{{i + 1}}</a>
    </li>
  </ng-container>
  
  <li (click)="currentPage = (currentPage + 1) < images.length ? currentPage + 1 : images.length - 1" [ngClass]="{disabled : currentPage == images.length - 1}" class="page-item">
    <a class="page-link"> Next </a>
  </li>
</ul>
</nav>

<!-- 
  <h4>{{images[currentPage].title}}</h4>
<img [src]="images[currentPage].url">
-->

<div [ngSwitch] = "currentPage">
  <div *ngSwitchCase="1">
    this is page one bae
  </div>
</div>