<h1>Generate password</h1>
<div>
  <label>Enter length</label>
  <input (input) = "onLengthChange($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onUseLetterChange()" type="checkbox"/>
</div>

<div>
  <label>Use numbers</label>
  <input (change)="onUseNumbersChange()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onUseSymbolsChange()" type="checkbox" />
</div>

<div>
  <button [disabled] = " !(length && (useLetters || useNumbers || useSymbols))" (click) = "onButtonClick()">Generate</button>
</div>

<div>
  <label>Your password</label>
  <input [value] = "password"/>
</div>

{{password}}